page-detalhes-produto {
  
    img{
      padding: 10px;
      position: absolute;
      width: 390px;
      height: 452px;
      mix-blend-mode: normal;
    }
  
    div{
      position: absolute;
      width: 410px;
      height: 125px;
  
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 23px;
      line-height: 27px;
      display: flex;
      align-items: center;
      text-align: center;
  
      color: #000000;
  
  
    }
    
  
  }
  
  
  
  