page-detalhe-demandas {

    .conteudo-detalhes-demanda{
        
        .toolbar-title {
            color: black;
            position: absolute;
            width: 283px;
            height: 41px;

            font-family: 'Roboto', sans-serif;
            margin-left: -10%;
            font-style: normal;
            font-weight: normal;
            font-size: 21px;
            margin-top: 2px;
            line-height: 35px;
            display: flex;
            align-items: center;
        }
    }

}
