.ion-menu{
    width:80%;
  }

  .toolbar-title-ios {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 600;
    color: #000;
    pointer-events: auto;
}
  
  .main-list{
    height: 75%;
    display:flex;
    justify-content: center;
    align-items: center;
  
      .ion-list{
        width:100% ;
  
          ion-item{
            text-align: center;
            font-size: 18px;
            font-weight: 100;
  
          }
          
          ion-item:hover{
            border-left: 5px solid #488aff;
            color: #488aff ;
          }
  
          .selected{
            border-left: 5px solid #488aff;
            color: #488aff ;
          }
      }
  
      .button{
        position: absolute;
        bottom: 10%;
        right: 10%;
        font-size: 24px;
        --ripple-color: transparent;
      }
  }
.navbar{
  background: rgba(1, 82, 65, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
//.toolbar-title {
  //display: block;
  //overflow: hidden;
  //margin-left: -60%;
  //width: 100%;
  //text-overflow: ellipsis;
 // white-space: nowrap;
//}
.title-menu{
  ion-title{
    display: block;
    overflow: hidden;
    margin-left: -30%;
    width: 100%;
    font-family: 'Cairo', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    //margin-top: 1em;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 56px;
    display: flex;

  }
  
}
.tamanho-img{
  ion-avatar{
    img{
      width: 90px;
      height: 90px;
    }
  }
  
}
.conteudo-input-nome{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  color: black;
  
}
.conteudo-input-email{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: black;
  /*position: relative;
  margin-left: -10%;
  margin: -12px 15 px 3px 0;
  width: calc(100% - 4px);*/
}
input:disabled {
  cursor: default;
  background-color: -internal-light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  color: -internal-light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  border-color: rgb(0, 0, 0);
}