page-add-endereco {
    .conteudo-addEndereco{
        .btn-usar{
            position: absolute;
            width: 340px;
            height: 58px;
    
            background: #015241;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            margin-top: 3em;
            //conteudo texto
            font-family: 'Cabin', sans-serif; 
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 36px;
            display: flex;
            align-items: center;
            text-align: center;
        }
        .toolbar-title {
            color: black;
            position: absolute;
            width: 340px;
            height: 41px;

            font-family: 'Roboto', sans-serif;
            margin-left: -10%;
            font-style: normal;
            font-weight: normal;
            margin-top: 2px;
            font-size: 25px;
            line-height: 35px;
            display: flex;
            align-items: center;
        }
    }

}
