page-perfil {

    //background: url('../../assets/imgs/bgblack.jpeg') no-repeat center /cover transparent;

    .conteudo-input {
        ion-item {
            //background-color: transparent;
            border-radius: 30px;
            background-color: rgb(255, 255, 255) !important;
        }
        ion-input {
            color: rgb(0, 0, 0);
        }
        ::placeholder {
            color: rgb(211, 207, 207);
        }
        transparent{
            color:rgba(253, 253, 253, 0.062)
        }
    }

    .img-center {

        img {
            margin:0 auto;
            width: 100px;
            height: 100px;
        }
    }

    .margin-input-top {
        margin-top: 10px;
    }
    .margin-input-top-2 {
        margin-top: 0px;
    }
    .margin-btn-top {
        margin-top: 20px;
    }

    .btn-2{
        background-color: rgb(231, 212, 212);
    }
    .btn {
        background-color: #fca504;
        border-radius: 30px;
        text-transform: capitalize;
    }


}
