page-perfil {
    .text-input{
        text-align: center;
    }

    .img-center {

        img {
            margin:0 auto;
            width: 160px;
            height: 160px;
            //margin-top: 2em;
        }
    }
}
