page-recuperar-senha {

    .main-title-rec{
        font-family: Cabin;
        font-weight: 500;
        font-size: 36px;
        color: #015241;
        text-align: center;
    };
    
    .text-rec{
        font-family: Cabin;
        text-align: center;
        font-size: 16px;
        color: #2C2B2B;
    }

    .action-button {
        margin-top: 20px;
    }

}