page-dados-da-conta {
    .img-center {
        margin-left: auto;
        margin-right: auto;

        img {
            margin:0 auto;
            width: 120px;
            height: 120px;
        }
    }
    .conteudo-dados{
        
        .btn-salvar{
            margin-top: 4em;
        }
    }

}
