page-favoritos {

  .card-items{
    ion-card{
      margin-left: 0;
      margin-right: 0;
      border-radius: 0;

      .nomeP{
        color: black;
      }
      p{
        color: #565656;
      }
      ion-card-content{
        display: flex;
        position: relative;

          .item-img{
            display: flex;
            align-items: center;
            margin-right: 16px;

            img{
              object-fit: cover;
              width: 110px;
              height: 110px;
              box-shadow: 0px 2px 2px 0px rgba( 0, 0, 0, 0.16);
            }
          }

      }

      .excluir{
        width: 40px;
        height: 26px;
      }

  }
}

    }
