page-login {
    .register{
        text-transform: none;
        font-family: Cabin, sans-serif;
    };

    .register-text{
        font-family: Cabin, sans-serif;
        text-align: center;
        font-size: 14px;
        margin-bottom: -0.5em;
    };

    .password{
        text-transform: none;
        font-family: Cabin, sans-serif;
        margin-bottom: 20px;
    }

}