/*ion-header {
    .toolbar-title {
        color: white;
    }

    .back-button {
        color: white;
    }
}*/
.navbar{
    background: rgba(1, 82, 65, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
.conteudo-title{
    position: absolute;
    width: 81px;
    height: 66px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

}
.conteudo-login{
    //background: url('../../assets/imgs/bg.jpeg') no-repeat center /cover transparent;
    //inicio
    /*.conteudo-input {
        ion-item {
            //background-color: transparent;
            border-radius: 30px;
            background-color: rgba(255, 255, 255, 0.3) !important;
        }
        ion-input {
            color: white;
        }
        
    }*/
    .margin-input-top1 {
        margin-top: 5px;
    }.margin-input-top2 {
        margin-top: 10px;
    }
    .margin-btn-top {
        margin-top: 67px;
    }
    .btn-senha{
        position: absolute;
        width: 204px;
        height: 30px;

        font-family: 'Cabin', sans-serif; 
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;

        color: rgba(1, 82, 65, 0.6);
    }
    .btn {
        position: absolute;
            width: 280px;
            height: 58px;

            background: #015241;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            //fonte
            position: absolute;


            font-family: 'Cabin', sans-serif; 
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 36px;
            display: flex;
            align-items: center;
            text-align: center;
            margin-left: 7%;
    }
    p{
        color: #FFF;
    }
    .grid-logo {
        ion-col {
            text-align: center;
            //margin-top: 50%;
            margin-bottom: -12em;
            position: absolute;
            width: 258px;
            height: 220px;

            //background: url(imagem_2021-12-06_134859.png);
            mix-blend-mode: darken;
            }
        
        
    }
    
    .margin-btnlink-top {
        margin-top: 10px;
    }
    h1{
        //position: absolute;
        width: 350px;
        //height: 360px;
        margin-left: 4%;
        margin-top: 3em;

        font-family: 'Cabin', sans-serif; 
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 49px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #0F4F35;
    }

    
//fim
}
h5 {
    font-size: 1.7rem;
    margin-top: 1px;
    margin-left: 0%;
}
.btn-link-login {
    //position: absolute;
    width: 194x;
    height: 14px;

    font-family: 'Cabin', sans-serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #015241;
}